services:
  db:
    image: postgres:15-alpine
    container_name: worker_factory_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=worker_factory
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: